# global
msg
.DS_store
.env

# backend
.venv/
__marimo__/
__pycache__/

# Frontend
## deps
node_modules/

## Logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## TS
*.tsbuildinfo

## Vite
dist/
vite-env.d.ts
